<div class="jumbotron text-center">
    <h1>Welcome To Gym Website</h1>
    <p><i>The Fitness Facility For All Of Your Needs</i></p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/img/pic1.jpg" class="img-rounded" alt="Cinque Terre" style="max-width: 80%;">

      </div>
      
    
      <div class="col-sm-6">
        <h3><b>About Our Gym</b></h3>
        <p><i>"It is one of the best Gym which is full & well Equipt and have the best Trainers"</i></p>
        <p><i><b>Location:Kisauni-Zanzibar</b></i></p>
      </div>

      <div class="col-sm-4">
        <div class="card">
            <h3><b>Contact Us:</b></h3>
            <p>Whatspp Number:+255 621 317 175</p>
            <p>email:<i>gymsite2151@yahoo.com</i></p>
           
        </div>
      </div>

    </div>
  </div>
  <router-outlet></router-outlet>
