<div class="container">
    <div class="card">
    <div>
        <label> <b> First Name: </b></label> {{enroll.fname}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{enroll.lname}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{enroll.address}}
    </div>

    <div>
        <label> <b> Email: </b></label> {{enroll.email}}
    </div>
    <div>
        <label> <b> Gender: </b></label> {{enroll.gender}}
    </div>
    <div>
        <label> <b> First time: </b></label> {{enroll.time}}
    </div>
    </div>
</div>
