<div class="container">

    <p><b><i>OUR WELL TRAINED TRAINERS</i></b></p>
    <p><i>With Full Experince </i></p><br>
    <br>

    <br>

     <div class="col-lg-3">
            <div class="row">
                <img src="assets/img/icn1.jpg" class="img-rounded" alt="Cinque Terre" style="max-width: 50%;">

                <p>Name:ALI AHMED </p>
                <p>Age: 35yrs</p>
                <p>Height:6'3</p>
                <p>Working Area: Trainer</p><br>
                
            </div>
        </div>

        <div class="col-lg-3">
            <div class="row">
                <img src="assets/img/icn2.webp" class="img-rounded" alt="Cinque Terre" style="max-width: 50%;">

                <p>Name:HALIMA AHMED </p>
                <p>Age: 30yrs</p>
                <p>Height:5'9</p>
                <p>Working Area: Trainer</p><br>
               
            </div>
        </div>


       

  


    </div>

<router-outlet></router-outlet> -->
